body {
    background-image: linear-gradient(to right, rgba(0, 138, 23, 0.836), rgb(0, 46, 6));
}
 
h1 {
    text-align: center;
    font-size: 40px;
}

.btn_user {
        width: -1px;
        border: none; /* Remove a borda do botão */
        border-radius: 30px; /*Borda arredondada */
        cursor: pointer;
}
img {
    border-radius: 50px;
    width: 5vh; /* Diminui a largura da imagem para 70px do tamanho original */

}
/* Estilos para telas de celular */
@media only screen and (max-width: 600px) {
    body {
      font-size: 14px;
    }
    .container {
      width: 100%;
    }   
  }
  
  /* Estilos para tablets */
  @media only screen and (min-width: 601px) and (max-width: 1024px) {
    body {
      font-size: 16px;
    }
  }
  
  /* Estilos para telas maiores */
  @media only screen and (min-width: 1025px) {
    body {
      font-size: 18px;
    }
  }
